[submodule "blingbling"]
	path = blingbling
	url = git://github.com/cedlemo/blingbling.git
[submodule "scratch"]
	path = scratch
	url = git://github.com/proteansec/awesome-scratch.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious/
[submodule "simpledbus"]
	path = simpledbus
	url = https://github.com/kstep/simpledbus
[submodule "ldbus"]
	path = ldbus
	url = https://github.com/daurnimator/ldbus.git
